<ion-header>
  <ion-navbar>
    <ion-title>Cadastro de Cartão</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="sendRegisterCard(); $event.preventDefault()">
    <ion-item>
      <ion-label stacked>Nome Cartão*</ion-label>
      <ion-input formControlName="cardTitle" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.cardTitle.dirty && formGroup.controls.cardTitle.errors" margin-left>Valor inválido</p>

    <ion-item>
      <ion-label stacked>Número do Cartão*</ion-label>
      <ion-input formControlName="cardNumber" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.cardNumber.dirty && formGroup.controls.cardNumber.errors" margin-left>Valor inválido</p>
    
    <ion-item>
      <ion-label stacked>CVV*</ion-label>
      <ion-input formControlName="cvv" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.cvv.dirty && formGroup.controls.cvv.errors" margin-left>Valor inválido</p>

    <ion-item>
      <ion-label stacked>Validade*</ion-label>
      <ion-input formControlName="validThru" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.validThru.dirty && formGroup.controls.validThru.errors" margin-left>Valor inválido</p>

    <ion-list radio-group formControlName="cardType">
      <ion-list-header>
        Tipo do Cartão
      </ion-list-header>
      <ion-item>
        <ion-label>Débito</ion-label>
        <ion-radio checked="true" value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Crédito</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-list>


    <ion-item>
      <ion-label stacked>Bandeira do Cartão*</ion-label>
      <ion-select name="bandeiraCartao">
        <ion-option value="1">MasterCard</ion-option>
        <ion-option value="2">Visa</ion-option>
        <ion-option value="3">Elo</ion-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label stacked>Emissor</ion-label>
      <ion-input formControlName="emitter" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.emitter.dirty && formGroup.controls.emitter.errors" margin-left>Valor inválido</p>
    
    <ion-item>
      <ion-label stacked>Portador*</ion-label>
      <ion-input formControlName="portador" type="text"></ion-input>
    </ion-item> 
    <p class="danger" *ngIf="formGroup.controls.portador.dirty && formGroup.controls.portador.errors" margin-left>Valor inválido</p>
    
    <button ion-button block type="submit" [disabled]="formGroup.invalid">Cadastrar</button>
  </form>
</ion-content>